.gradient-bg {
  background: linear-gradient(to right, #6a4f97, #3b3561);
}

.shadow-box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.g-bg {
  background: #1B1924;
}

.shadow-box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.card-zoom {
  transition: transform 0.3s ease;
}

.card-zoom:hover {
  transform: scale(1.05);
}

.increase-font-satisfied {
  font-size: 5rem; 
}

.bg-experience {
  background: #1B1924;
}

.border-experience {
  border: 2px solid #AB61C7
}

.border-card{
  border: 1px solid #88559c8f
}

.star-color {
  fill: linear-gradient(to top right,#6245c4, #bb56ff);
}

.gradient-hover {
    background: linear-gradient(to top right,#6245c4, #bb56ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gradient-hover:hover {
    color: white; /* Cambia al color que desees cuando pases el mouse sobre el texto */
}

.gradient-background {
  background: linear-gradient(to right,#7D63D3, #B263D5);
}

.number-color {
  color: #AC65CF;
  font-size: 9rem; /* Tamaño de fuente por defecto */
}

@media only screen and (max-width: 600px) {
  .number-color {
    font-size: 4rem; /* Tamaño de fuente para pantallas más pequeñas, como dispositivos móviles */
  }
}

.slide-up {
  animation: slideUp 5s ease forwards;
  opacity: 0;
}

@keyframes slideUp {
  from {
      transform: translateY(100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.card-img-custom {
  width: 80%; 
  height: auto; 
  border-top-right-radius: 100px; 
  border-bottom-right-radius: 100px;
  border-top-left-radius: 20px; 
  border-bottom-left-radius:20px;
}

.shadow-image {
  -webkit-mask-image: linear-gradient(black 30%, transparent);
  mask-image: linear-gradient(black 25%, transparent); 
}

.text-gray {
  color: #cbcbce
}
