.bg-home {
  border-bottom-color: transparent;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url('../../src/assets/img/Home/GettyImages-597068867 (1).jpg');
  background-size: cover;
  background-position: top;
  -webkit-mask-image: linear-gradient(black 80%, transparent);
  mask-image: linear-gradient(black 80%, transparent); 
}

.text-color-small {
  color: #a5a5af
}

