.bg-products {
  border-bottom-color: transparent;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url('https://imgtr.ee/images/2024/05/17/1273103ec02c0083e00344dd51fedbb9.jpeg');
  background-size: cover;
  background-position: top;
}