.booking-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #aba7c3;
    border-radius: 5px;
  }
  
  .booking-form .form-group {
    margin-bottom: 20px;
  }
  
  .booking-form label {
    font-weight: bold;
    color: #ffffff;
  }
  
  .booking-form select,
  .booking-form input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #aba7c3;
    border-radius: 15px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .booking-form button {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border-radius: 50px;
      cursor: pointer;
      /* border: 2px solid #ffffff; */
      background: linear-gradient(to top right, #7b63d2, #af65d2);
      letter-spacing: 1.5px;
      text-transform: uppercase;
      color: #ffffff;
  }
  
  .booking-form button:hover {
    letter-spacing: 3px;
    color: #ffffff;
  }
  