/* Background */
body {
  background: #24203B;
  background-image: radial-gradient(circle at center center, #493772 0%, #24203B 40%);
  background-size: 100% 170%;
}

/* Fonts */
.title {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.subtitle {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.paragraph {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.small-font {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Scroll */
.scroll-right {
  overflow-y: scroll !important;
  padding: 0 !important;
}

.scroll-right::-webkit-scrollbar {
  width: 12px;
  background-color: #7E5DC8;
}

.scroll-right::-webkit-scrollbar-track {
  background-color: #8A89B3;
}

.scroll-right::-webkit-scrollbar-thumb {
  background-color: #7E5DC8;
  border-radius: 2px;
}

.scroll-right::-webkit-scrollbar-thumb:hover {
  background-color: #8163D3;
}

/* Modal */
.modal.show {
  opacity: 1;
  visibility: visible;
  padding: 0 !important;
}

.modal-open {
  padding: 0 !important;
}